@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Light.ttf');
}

* {
  font-family: 'Poppins', monospace;
  font-weight: 100;
}


body {
  background-color: #222;
  font-size: 2rem;
  color: #FFF;
  margin: 30px;
}