@font-face {
  font-family: 'RobotoMono';
  src: url('../src/fonts/RobotoMono-ExtraLight.ttf');
}

* {
  font-family: 'RobotoMono', monospace;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #fff;
  background: linear-gradient(to right, #136a8a, #267871);
}
